#################################
# ⭐ 基础（必须）
#################################
-dontoptimize
#-dontshrink
-ignorewarnings
-dontwarn
-verbose

#################################
# ⭐ 保留关键属性
#################################
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,*Annotation*,StackMap

#################################
# ⭐ 启动类
#################################
-keep class com.SecurityApplication { *; }

-keep class com.controller.** { *; }
-keep class com.aps.WarnLogAppender { *; }

# 精准保留你的业务类所有匿名内部类（必加）
-keep class com.aps.**$* { *; }
#################################
# ⭐ Controller / Service / Component
#################################
#-keep @org.springframework.stereotype.Component class * { *; }
#-keep @org.springframework.stereotype.Service class * { *; }
#-keep @org.springframework.stereotype.Controller class * { *; }
-keep @org.springframework.stereotype.* class * { *; }


#################################
# ⭐ handle方法处理
#################################
# ❗ 所有 handle 方法都不允许改名
-keep class * {
    public void handle();
}

#################################
# ⭐ getter/setter
#################################
-keepclassmembers public class * {
    *** get*();
    void set*(***);
}